/* default */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section{
    padding: 72px 0;
    @media screen and (min-width: 768px) {
        padding: 100px 0;
    }
    @media screen and (min-width: 1200px) {
        padding: 128px 0;
    }
}
.container{
    width: 375px;
    padding: 0 20px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0 32px;
        margin: 0 auto;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding: 0 32px;
        margin: 0 auto;
    }
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
