.footer-section {
  background-color: #1e1823;
  padding: 50px 32px;
  box-shadow: rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1);
  /* height: 270px; */
}
.footer-box {
  display: flex;
  margin-bottom: 62px;
  justify-content: flex-start;
}
.footer-box-discription {
  width: 300px;
  margin-right: 500px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.56px;
}
.footer-contacts {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 14px;*/
}
.footer-heading {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 14px;
}
.footer-social-box {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.footer-contacts-list {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
.footer-social-list {
  display: flex;
  /* margin-left: 63px; */
  gap: 18px;
  justify-content: flex-end;
}
.social-icon-link {
  display: flex;
  color: #ffffff;
}

.social-icon {
  width: 24px;
  height: 24px;
  stroke: #ffffff;
}
.social-icon:hover,
.social-icon:focus {
  stroke: #fd9222;
}
.horizontal-line {
  width: 100%;
  height: 0px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}
.footer-menu-list {
  display: flex;
  color: #ffffff;
  gap: 24px;
  font-size: 14px;
  font-family: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
  justify-content: start;
  align-items: flex-start;
  margin-top: 24px;
}
