.footer-section {
  width: 100%;
  background-color: #1e1823;
  padding: -78px 0;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1);
}
.footer-box {
  display: flex;
  margin-bottom: 62px;
  gap: 32px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.footer-box-discription {
  width: 300px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.56px;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-heading {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 14px;
}
.footer-contact-box {
  display: flex;

  @media screen and (min-width: 768px) {
    margin-left: auto;
    gap: 50px;
  }
}
.footer-social-box {
  justify-content: flex-end;
  margin-left: auto;
}

.footer-contacts-list {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
.footer-social-list {
  display: flex;
  gap: 18px;
  justify-content: flex-end;
}
.social-icon-link {
  display: flex;
  color: #ffffff;
}

.social-icon {
  width: 22px;
  height: 22px;
  stroke: #ffffff;

  @media screen and(min-width:768px) {
    width: 24px;
    height: 24px;
  }
}
.social-icon:hover,
.social-icon:focus {
  stroke: #fd9222;
}
.horizontal-line {
  width: 100%;
  height: 0px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}
.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.footer-menu-link {
  color: #ffffff;
  font-size: 14px;
  font-family: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
  justify-content: start;
  align-items: flex-start;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    transition-property:padding, box-shadow, background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer-menu-link:hover,
.footer-menu-link:focus {
    border-radius: 100px;
    padding: 5px;
  box-shadow: inset 150px 0 0 0 #96835e37;
    color: #FD9222;
  // color: #fd9222;
  // background-color: #fcf1fc;
  // padding: 5px;
  // border-radius: 100px;
  // transition-property: background-color, color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-link:focus, .footer-contacts-link:hover{
  color: #FD9222;
}
