.how-its-made-section {
  background: #fafafa;

  @media screen and (min-width: 768px) {
    /*width: 768px;*/
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
    /*margin-right: 32px;*/
    /*gap: 20px 50px;*/
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    /*margin: 0;*/
    /*display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;*/
  }
}

.how-its-made-fullbox {
  @media screen and(min-width: 1200px) {
    display: flex;
    /*width: 1136px;*/
    /*height: 478px;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-shrink: 0;
    margin: auto;
  }
}

.how-its-made-title {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    /*margin-bottom: 50px;*/
  }

  @media screen and (min-width: 1200px) {
    font-size: 24px;
    margin: 0;
  }
}

.made {
  color: #fd9222;
}

.how-its-made-container {
  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
    /*flex-direction: row;*/
    align-items: flex-start;
    /*gap: 20px;*/
    margin: 0;
    /*margin-right: 0;
    margin-left: 0;*/
  }
}

.how-its-made-vidcontainer {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.how-its-made-video {
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    width: 614px;
    height: 400px;
  }

  @media screen and (min-width: 1200px) {
    width: 600px;
    height: 400px;
    margin: 0;
  }
}

.how-its-made-prcontainer {
  display: flex;
  padding: 20px 14px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  background: #fff;
  margin-left: 20px;
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    padding: 32px;
    margin-left: 77px;
    margin-right: 77px;
  }

  @media screen and (min-width: 1200px) {
    width: 540px;
    height: 400px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    /*margin-left: 32px;
    margin-right: 32px;*/
    /*margin-right: 0;
    margin-left: 0;*/
    /*flex-shrink: 0;*/
  }
}

.how-its-made-procedure {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  @media screen and (min-width: 768px) {
    width: 350px;
  }
}

.how-its-made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  padding-left: 20px;
  /*padding: 20px 14px;*/

  @media screen and(min-width: 768px) {
    gap: 18px;
    padding-right: 40px;
  }

  @media screen and(min-width: 1200px) {
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    justify-content: center;
  }
}

.how-its-made-item {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

::marker {
  color: #4c4c4c;
  /*font-size: 23px;*/
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  /*stroke-width: 1px;
  stroke: #eceded;*/
}
