/* default */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}
npm img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding: 72px 0;
  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 128px 0;
  }
}
.container {
  width: 375px;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
  }
}

.how-its-made-section {
  background: #fafafa;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    /*gap: 20px 50px;*/
    /*display: flex;
    justify-content: center;
    align-items: center;*/
  }
}

.how-its-made-title {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    margin-bottom: 50px;
  }
}

.made {
  color: #fd9222;
}

.how-its-made-container {
  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
    /*flex-direction: row;*/
    align-items: flex-start;
    gap: 20px;
    /*margin: 0;*/
    /*margin-right: 0;
    margin-left: 0;*/
  }
}

.how-its-made-vidcontainer {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.how-its-made-video {
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    width: 614px;
    height: 400px;
  }

  @media screen and (min-width: 1200px) {
    width: 600px;
    height: 400px;
  }
}

.how-its-made-prcontainer {
  display: flex;
  padding: 20px 14px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  background: #fff;
  margin-left: 20px;
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    padding: 32px;
    margin-left: 77px;
    margin-right: 77px;
  }

  @media screen and (min-width: 1200px) {
    width: 540px;
    height: 400px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    /*margin-left: 32px;
    margin-right: 32px;*/
    /*margin-right: 0;
    margin-left: 0;*/
    flex-shrink: 0;
  }
}

.how-its-made-procedure {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  @media screen and (min-width: 768px) {
    width: 350px;
  }
}

.how-its-made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  padding-left: 20px;
  /*padding: 20px 14px;*/

  @media screen and(min-width: 768px) {
    gap: 18px;
    padding-right: 40px;
  }

  @media screen and(min-width: 1200px) {
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    justify-content: center;
  }
}

.how-its-made-item {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

::marker {
  color: #4c4c4c;
  /*font-size: 23px;*/
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  /*stroke-width: 1px;
  stroke: #eceded;*/
}
