// SUBSCRIBE MODAL
/*MODAL WINDOW*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 311px;
  height: 350px;
  background-color: #ffffff;
  background-color: rgba(250, 250, 250, 0.93);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    width: 538px;
    height: 412px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  padding: 0;

  width: 24px;
  height: 24px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}
.subscribe-icon {
  stroke: #ffffff;
}

.subscribe-icon:hover,
.subscribe-icon:focus {
  stroke: #fd9222;
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.susbscribe-modal-box {
  padding: 32px 24px;
  gap: 28px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 40px;
  }
}
.subscribe-modal-text {
  width: 298px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.orange-text {
  color: #fd9222;
}
.subscribe-input {
  display: inline-flex;
}
.form-input {
  color: rgba(64, 64, 64, 0.3);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  display: flex;
  width: 263px;
  padding: 14px 18px;
  align-items: flex-start;
  gap: 40px;
  border-radius: 25px;
  outline: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);

  @media screen and (min-width: 768px) {
    padding: 14px 24px;
    width: 313px;
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}
.form-input:hover{
  border-color: #fd9222;
}
.modal-subscribe-btn {
  display: flex;
  width: 100px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
  right: 0;
  border-radius: 100px;
  background-color: #fd9222;
  color: #ffffff;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    height: 52px;
    padding: 17px 40px;
    width: 137px;

    margin-left: 8px;
  }
}
.modal-subscribe-btn:hover,
.modal-subscribe-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
