.top-sellers-title{
    color: #111;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px; /* 120% */
    letter-spacing: -0.6px;

    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 28px; /* 116.667% */
        letter-spacing: -0.72px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 24px;
        line-height: 28px; /* 116.667% */
        letter-spacing: -0.72px;
    }
}

.top-text{
    color: #FD9222;
}

.top-sellers-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 32px;
    }
}

.image-hidden{
    display: none;

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.top-sellers-image{
    border-radius: 15px;
    transition: transform .2s;
    width: 335px;
    height: 464px;

    @media screen and (min-width: 768px) {
        width: 344px;
        height: 464px;
    }

    @media screen and (min-width: 1200px) {
        width: 368px;
        height: 464px;
    }
}
.top-sellers-image:hover,
.top-sellers-image:focus{
 transform: scale(1.5);
}
.top-sellers-wrap{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}

.top-sellers-description{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.mobile-hidden{
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.tablet-desktop-hidden{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        display: none
    }

    @media screen and (min-width: 1200px) {
        display: none
    }
}

.buy-now-button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    color: #fff;
    background-color: #FD9222;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    padding: 14px 40px;
    border-color: transparent;
    margin: auto;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 0;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 0;
    }
}    

.buy-now-button:hover,
.buy-now-button:focus{
    color: #FD9222;
    background-color: #FCF1E0;;
}
.top-zoom {
  padding: 50px;
  transition: transform .2s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
