.components {
  padding: 72px 20px;

  @media screen and (min-width: 768px) {
    padding: 100px 32px;
  }

  @media screen and (min-width: 1200px) {
    padding: 128px 32px;
  }
}

.components-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.54px;
  padding: 0 5px;

  @media screen and (min-width: 768px) {
    padding: 0 116px;
    margin-bottom: 28px;
    font-size: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 332px;
  }
}

.components-taste {
  color: #fd9222;
}

.components-description {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 32px;
  text-align: center;
  line-height: 1.28;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    padding: 0 107px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 323px;
  }
}

.components-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    gap: 32px;
    flex-basis: calc(100% / 2);
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    gap: 19px;
    flex-basis: calc(100% / 4);
    flex-wrap: nowrap;
  }
}

.mchoco-bg {
  background-color: #fd9222;
}

.nuts-bg {
  background-color: #1e1823;
}

.milk-bg {
  border: 1px solid #fd9222;
}

.sschoco-bg {
  border: 1px solid #fd9222;
}

.components-wrap {
  padding: 28px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  /*width: 300px;
  height: 270px;

  @media screen and (min-width: 1200px) {
    width: 270px;
  }*/
}

.components-img {
  padding-left: 28px;
  padding-right: 27px;
  margin-bottom: 25px;
  display: inline-block;

  @media screen and (min-width: 1200px) {
    padding-left: 0;
    padding-right: 8px;
    margin-bottom: 36px;
  }
}

.components-label {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.mchoco-label {
  color: #fff;
}

.milk-label {
  color: #111;
}

.nuts-label {
  color: #fff;
}

.sschoco-label {
  color: #111;
}

.components-cover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 28px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  color: #111;
  background-color: #fafafa;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 20px;
  }
}

.components-item:hover .components-cover,
.components-item:focus .components-cover {
  transform: translateY(0);
}

.components-cover-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: -0.54px;
}

.components-cover-subtitle {
  border-radius: 35px;
  background: #fd9222;
  color: #fff;
  font-size: 10px;
  padding: 6px 16px;
  line-height: 1.2;
}

.components-cover-benefits {
  border-radius: 35px;
  border: 1px solid #fd9222;
  background-color: #fafafa;
  font-size: 10px;
  padding: 6px 16px;
  display: inline-block;
  margin-left: 6px;
  line-height: 1.2;
}

.components-cover-description {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}
