.chocoloved-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.chocoloved-modal {
  position: absolute;
  width: 311px;
  border-radius: 15px;
  background: #fafafa;
  padding: 32px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(250, 250, 250, 0.93);

  @media screen and (min-width: 768px) {
    width: 517px;
    padding: 40px;
  }
}

.chocoloved-is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.chocoloved-modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 14px;
  right: 14px;
  width: 24px;
  height: 24px;
  stroke: #111;
  color: #111;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-property: stroke, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }

  @media screen and (min-width: 1200px) {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }
}

.chocoloved-modal-close:hover,
.chocoloved-modal-close:focus {
  stroke: #fd9222;
  color: #fd9222;
}

.chocoloved-modal-close-icon {
  width: 28px;
  height: 28px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.chocoloved-modal-review-title {
  color: #111;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
  text-transform: uppercase;
  width: 255px;
  text-align: start;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    .chocoloved-modal-review-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 28px; /* 116.667% */
      letter-spacing: -0.72px;
      text-transform: uppercase;
      margin-bottom: 40px;
      width: 298px;
    }
    .mobile-break {
      display: none; /* Hide the <br> element on larger screens */
    }
  }

  @media screen and (max-width: 768px) {
    .chocoloved-modal-review-title {
      white-space: normal; /* Allow text to wrap on smaller screens */
    }
  }
}

.chocoloved-modal-review-title-orange {
  color: #fd9222;
}

.chocoloved-form-label-text {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
}
.chocoloved-modal-form-label {
  display: flex;
  position: relative;
  align-items: flex-start;
  gap: 14px;
  margin-top: 0;
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    margin-bottom: 18px;
  }
}

.chocoloved-form-label-input {
  display: flex;
  width: 100%;
  padding: 14px 18px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 22px 24px;
    border-radius: 13px;
  }
}

.chocoloved-form-label-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}

.form-input-icon {
  width: 24px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 24px;
    margin-left: 9px;
  }
}

.tel-label {
  height: 50px;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    height: 65px;
    border-radius: 13px;
  }
}

.form-tel {
  display: flex;
  //   width: 263px;
  padding: 10px 18px;
  padding-left: 100px;
  align-items: center;
  gap: 44px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    border-radius: 13px;
    width: 513px;
    padding: 17px 24px;
    padding-left: 170px;
    gap: 44px;
  }
}
.form-tel-svg-box {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 16px;
  display: flex;
  width: 74px;
  padding-right: 0px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;

  box-shadow: 1.5px 0px 0px 0px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 768px) {
    width: 125px;
    padding-right: 0px;
    align-items: center;
    gap: 18px;
  }
}
.form-tel-code {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}
.form-input::placeholder,
.form-tel::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}

.chocoloved-form-label-textarea {
  width: 100%;
  height: 91px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  flex-shrink: 0;
  padding-top: 14px;
  padding-left: 18px;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
  margin-bottom: 18px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    border-radius: 13px;
    height: 137px;
    padding-top: 22px;
    padding-left: 24px;
  }
}

.chocoloved-form-label-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
  }
}

.chocoloved-modal-form-button {
  display: flex;
  padding: 12px 28px;
  align-items: center;
  text-align: center;
  gap: 14px;
  border: none;
  border-radius: 100px;
  background: #fd9222;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  //   width: 93px;
  //   height: 41px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 14px 40px;
  }
}

.chocoloved-modal-form-button:hover,
.chocoloved-modal-form-button:focus {
  background: #fcf1e0;
  color: #fd9222;
}
.chocoloved-form-label-input:focus,
.chocoloved-form-label-input:hover,
.form-tel:focus,
.form-tel:hover,
.chocoloved-form-label-textarea:hover,
.chocoloved-form-label-textarea:focus {
  border: 1px solid rgba(218, 145, 35, 0.847);
}
