<section class="advantages--section">
  <div class="container advantages--container">
    <a href="" class="advantages-svg-icon">
      <svg width="32" height="32" class="advantages-svg">
        <use href="../images/advantages.svg#advantages-chocolate-icon"></use>
      </svg>
      </a>
    <h2 class="advantages--title">Unsurpassed taste</h2>
    <p>Crafted with the finest quality cocoa beans<br>
       and a dedication to perfection,<br>
       each bite is a decadent experience that <br>
       simply cannot be matched.Savor the richness and <br>
       complexity of our Unsurpassed Taste and <br>
        discover a new level of chocolate bliss.</p>
  </div>

<div class="container advantages--container">
  <h2 class="advantages--title">Affordable Price</h2>
  <p>Indulge in high-quality chocolate without <br>
    breaking the bank with Simply Chocolate's <br>
     selection of affordable treats. Enjoy mouth <br>
     -watering truffles and velvety chocolate bars <br>
      without sacrificing taste or quality.Browse <br>
       our selection and indulge in affordable luxury <br>
        today.</p>
</div>

<div class="container advantages--container">
  <h2 class="advantages--title">Own production</h2>
  <p>We take pride in our own production process,<br>
     ensuring that every step is carefully crafted to<br>
      perfection. From selecting the finest<br>
       ingredients to handcrafting each piece,<br>
        our attention to detail is evident in every bite.</p>
</div>

</section>