<div class="buy-order-modal-bg is-hidden" data-modal>
    <div class="buy-order-modal">
        <button class="modal-close-x" data-modal-close>
            <svg class="modal-close-x-icon">
                <use href="./images/buy-order.svg#close-x"></use>
            </svg>
        </button>

        <p class="buy-order-header"><span class="buy-title">BUY</span><span class="now-title"> NOW</span></p>

       
            <ul class="buy-order-choco-box">
                <li class="buy-order-choco-items">
                    <img src="./images/choco-1.png" width="120" alt="Chocolate 1" />
                    <h3 class="buy-order-choco-caption">100 g</h3>
                </li>
                <li class="buy-order-choco-items">
                    <img src="./images/choco-2.png" width="120" alt="Chocolate 2" />
                    <h3 class="buy-order-choco-caption">200 g</h3>
                </li>
                <li class="buy-order-choco-items">
                    <img src="./images/choco-3.png" width="120" alt="Chocolate 3" />
                    <h3 class="buy-order-choco-caption">300 g</h3>
                </li>
            </ul>
      
        <!-- <div class="buy-order-form">  -->
            <form name="signup_form" autocomplete="on" class="form-container list" method="">
                <span class="form-label-text">Personal Information </span>
                <label class="form-label">
                    <input type="text" class="form-input" name="irstname" placeholder="Name" />
                    <input type="text" class="form-input" name="surname" placeholder="Surname" />
                </label>

                <span class="form-label-text">Email </span>
                <label class="form-label">
                    <input type="email" class="form-input" name="email" placeholder="Enter your email" />
                </label>

                <span class="form-label-text">Phone number </span>
                <label class="form-label">
                    <input type="tel" class="form-tel" name="email" placeholder="Phone number" />
                    <div class="form-tel-svg-box">
                        <svg class="form-input-icon">
                            <use href="./images/buy-order.svg#tel-flag"></use>
                        </svg>
                        <span class="form-tel-code">+380 </span>
                    </div>
                </label>
                
                <span class="form-label-text">Card number </span>
                <label class="form-label">
                    <input type="tel" class="form-input" name="telephone" placeholder="Enter card" />
                        <svg class="form-input-icon-card">
                            <use href="./images/buy-order.svg#master-card"></use>
                        </svg>
                </label>

                <span class="form-label-text">Comment</span>
                <label class="form-label">
                    <textarea name="comment" class="form-textarea" placeholder="Enter text" required></textarea>
                </label>

                <!-- <div class="form-button_container"> -->
                    <button type="submit" class="form-button">Send</button>
                <!-- </div> -->

            </form>
        <!-- </div> -->
    </div>
</div>