<section class="choco-is-love-section section">
      <h2 class="chocoloved-title title">
        <span class="chocoloved-title-orange">CHOCOLATE</span> IS LOVED
      </h2>
      <div class="chocoloved-container container">

      <!-- Choco is Loved Swiper -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="swiper-slide-image"
              src="./images/chocoloved-img1@1x.png"
              alt="victoria-image"
              width="80"
              height="80"
              srcset="./images/chocoloved-img1@1x.png 1x, ./images/chocoloved-img1@2x.jpg 2x"
            />
            <h3 class="swiper-review-name">Victoria Dobrzhanska</h3>
                <p class="swiper-review-text">
                  I love this chocolate bar. Perfect combination <br />
                  of light crispy wafer, covered in a thin layer <br />
                  chocolate.
                </p>
          </div>
          <div class="swiper-slide">
            <img
                  class="swiper-slide-image"
                  src="./images/chocoloved-img2@1x.png"
                  alt="nazar-image"
                  width="80"
                  height="80"
                  srcset="./images/chocoloved-img2@1x.png 1x, ./images/chocoloved-img2@2x.jpg 2x"
                />
                <h3 class="swiper-review-name">Nazar Babenko</h3>
                <p class="swiper-review-text">
                  This chocolate confection is a delight! A <br />
                  delight! The wafer is light and crisp, the <br />
                  hazelnut cream is smooth, and the chocolate <br />
                  is good.
                </p>
          </div>
          <div class="swiper-slide">
            <img
                  class="swiper-slide-image"
                  src="./images/chocoloved-img3@1x.png"
                  alt="olena-image"
                  width="80"
                  height="80"
                  srcset="./images/chocoloved-img3@1x.png 1x, ./images/chocoloved-img3@2x.jpg 2x"
                />
                <h3 class="swiper-review-name">Olena Kampusch</h3>
                <p class="swiper-review-text">
                  Chocolate is a family favourite treat. Love the <br />
                  delicious smooth chocolate and the <br />
                  creaminess inside. The wafer is soft but <br />
                  crunchy.
                </p>
          </div>
          <div class="swiper-slide">
            <img
                  class="swiper-slide-image"
                  src="./images/chocoloved-img4@1x.png"
                  alt="natalia-image"
                  width="80"
                  height="80"
                  srcset="./images/chocoloved-img4@1x.png 1x, ./images/chocoloved-img4@2x.jpg 2x"
                />
                <h3 class="swiper-review-name">Natalia Sus</h3>
                <p class="swiper-review-text">
                  The chocolate assortment was delicious. Both <br />
                  dark and milk chocolate pieces were smooth <br />
                  and just right on the sweetness level.
                </p>
          </div>
          <div class="swiper-slide">
            <img
                  class="swiper-slide-image"
                  src="./images/chocoloved-img5@1x.png"
                  alt="danilo-image"
                  width="80"
                  height="80"
                  srcset="./images/chocoloved-img5@1x.png 1x, ./images/chocoloved-img5@2x.jpg 2x"
                />
                <h3 class="swiper-review-name">Danilo Nottingham</h3>
                <p class="swiper-review-text">
                  This is delicious. It so rich and flavorful you <br />
                  don’t need to use as many. I love topping an <br />
                  apple with almond butter and these chips for <br />
                  a snack.
                </p>
          </div>
          <div class="swiper-slide">
            <img
                  class="swiper-slide-image"
                  src="./images/chocoloved-img6@1x.png"
                  alt="irina-image"
                  width="80"
                  height="80"
                  srcset="./images/chocoloved-img6@1x.png 1x, ./images/chocoloved-img6@2x.jpg 2x"
                />
                <h3 class="swiper-review-name">Irina Tydnyuk</h3>
                <p class="swiper-review-text">
                  This is simply the best chocolate around, and <br />
                  I'm just thrilled to support a local company! <br />
                  Best local chocolate - world class :)
                </p>
          </div>

          <!-- Repeat -->
          <div class="swiper-slide">
            <img
              class="swiper-slide-image"
              src="./images/chocoloved-img1@1x.png"
              alt="victoria-image"
              width="80"
              height="80"
              srcset="./images/chocoloved-img1@1x.png 1x, ./images/chocoloved-img1@2x.jpg 2x"
            />
            <h3 class="swiper-review-name">Victoria Dobrzhanska</h3>
                <p class="swiper-review-text">
                  I love this chocolate bar. Perfect combination <br />
                  of light crispy wafer, covered in a thin layer <br />
                  chocolate.
                </p>
          </div>
          <div class="swiper-slide">
            <img
                  class="swiper-slide-image"
                  src="./images/chocoloved-img2@1x.png"
                  alt="nazar-image"
                  width="80"
                  height="80"
                  srcset="./images/chocoloved-img2@1x.png 1x, ./images/chocoloved-img2@2x.jpg 2x"
                />
                <h3 class="swiper-review-name">Nazar Babenko</h3>
                <p class="swiper-review-text">
                  This chocolate confection is a delight! A <br />
                  delight! The wafer is light and crisp, the <br />
                  hazelnut cream is smooth, and the chocolate <br />
                  is good.
                </p>
          </div>
          <div class="swiper-slide">
            <img
                  class="swiper-slide-image"
                  src="./images/chocoloved-img3@1x.png"
                  alt="olena-image"
                  width="80"
                  height="80"
                  srcset="./images/chocoloved-img3@1x.png 1x, ./images/chocoloved-img3@2x.jpg 2x"
                />
                <h3 class="swiper-review-name">Olena Kampusch</h3>
                <p class="swiper-review-text">
                  Chocolate is a family favourite treat. Love the <br />
                  delicious smooth chocolate and the <br />
                  creaminess inside. The wafer is soft but <br />
                  crunchy.
                </p>
          </div>
          <div class="swiper-slide">
            <img
                  class="swiper-slide-image"
                  src="./images/chocoloved-img4@1x.png"
                  alt="natalia-image"
                  width="80"
                  height="80"
                  srcset="./images/chocoloved-img4@1x.png 1x, ./images/chocoloved-img4@2x.jpg 2x"
                />
                <h3 class="swiper-review-name">Natalia Sus</h3>
                <p class="swiper-review-text">
                  The chocolate assortment was delicious. Both <br />
                  dark and milk chocolate pieces were smooth <br />
                  and just right on the sweetness level.
                </p>
          </div>
          <div class="swiper-slide">
            <img
                  class="swiper-slide-image"
                  src="./images/chocoloved-img5@1x.png"
                  alt="danilo-image"
                  width="80"
                  height="80"
                  srcset="./images/chocoloved-img5@1x.png 1x, ./images/chocoloved-img5@2x.jpg 2x"
                />
                <h3 class="swiper-review-name">Danilo Nottingham</h3>
                <p class="swiper-review-text">
                  This is delicious. It so rich and flavorful you <br />
                  don’t need to use as many. I love topping an <br />
                  apple with almond butter and these chips for <br />
                  a snack.
                </p>
          </div>
          <div class="swiper-slide">
            <img
                  class="swiper-slide-image"
                  src="./images/chocoloved-img6@1x.png"
                  alt="irina-image"
                  width="80"
                  height="80"
                  srcset="./images/chocoloved-img6@1x.png 1x, ./images/chocoloved-img6@2x.jpg 2x"
                />
                <h3 class="swiper-review-name">Irina Tydnyuk</h3>
                <p class="swiper-review-text">
                  This is simply the best chocolate around, and <br />
                  I'm just thrilled to support a local company! <br />
                  Best local chocolate - world class :)
                </p>
          </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <!-- <div class="swiper-scrollbar"></div> -->
        <div class="swiper-pagination pagination">
        </div>
        
      </div>

       <button type="button" class="review-button" data-modal-open>
        Leave a review
      </button>
    </section>

    
