<section class="footer-section section">
  <div class="container">
    <div class="footer-box">
      <span class="footer-box-discription">
        <span class="orange-text"> Chocolate</span> a delicious cure for a bad
        day
      </span>

      <div class="footer-contact-box">
        <div class="footer-contacts">
          <span class="footer-heading">Contact us</span>
          <ul class="footer-contacts-list list">
            <li class="footer-contacts-item">
              <a href="tel:+380684439426" class="footer-contacts-link link"
                >+380(68)443-94-26</a
              >
            </li>
            <li class="footer-contacts-item">
              <a
                href="mailto:simplychoc@gmail.com"
                class="footer-contacts-link link"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-social-box">
          <ul class="footer-social-list list">
            <li class="footer-social-icon-item">
              <a
                class="social-icon-link link"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="link to Instagram"
              >
                <svg class="social-icon">
                  <use href="./images/footer-icons.svg#footer-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-icon-item">
              <a
                class="social-icon-link link"
                href="https://www.twitter.com/"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="link to Twitter"
              >
                <svg class="social-icon">
                  <use href="./images/footer-icons.svg#footer-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <hr class="horizontal-line" />
    </div>
    <div class="footer-menu">
      <ul class="footer-menu-list list">
        <li class="footer-menu-item">
          <a href="#" class="footer-menu-link link">Home</a>
        </li>
        <li class="footer-menu-item">
          <a href="#" class="footer-menu-link link">How it's made?</a>
        </li>
        <li class="footer-menu-item">
          <a href="#" class="footer-menu-link link">Our products</a>
        </li>
        <li class="footer-menu-item">
          <a href="#" class="footer-menu-link link">Top sellers</a>
        </li>
        <li class="footer-menu-item">
          <a href="#" class="footer-menu-link link">Chocolate is loved</a>
        </li>
      </ul>
    </div>
  </div>
</section>
