<div class="mobile-menu-container" data-menu>
    <div class="container-mobile">
            <button class="modal-close-box" data-menu-close>
                <svg class="modal-close-icon">
                    <use href="./images/svg/header-icons.svg#menu-close"></use>
                </svg>
            </button>
        <div class="mobile-menu-content">

            <ul class="mobile-menu-list list">
                <li><a class="menu-link link active-link" data-menu-close href="./index.html" data-menu-close>Home</a></li>
                <li><a class="link"  href="#how-its-made" data-menu-close>How it&apos;s made?</a></li>
                <li><a class="link"  href="#our-products" data-menu-close>Our products</a></li>
                <li><a class="link"  href="#top-sellers" data-menu-close>Top sellers</a></li>
                <li><a class="link"  href="#choco" data-menu-close>Chocolate is loved</a></li>
            </ul>

            <!-- <div class="mobile-container-footer"> -->

                <ul class="mobile-container-footer list">
                    <li>
                        <a href="#" class="link">
                            <svg class="header-menu-social_icon">
                                <use href="./images/svg/header-icons.svg#instagram-1"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link">
                            <svg class="header-menu-social_icon">
                                <use href="./images/svg/header-icons.svg#twitter-1"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            <!-- </div> -->
        </div>
    </div>
</div>
