<div class="container">
    <div class="header-container">
    <nav class="header-logo">
        <!-- <div class="header-logo"> -->
            <a href="./index.html" class="link"><span class="logo-simply">SIMPLY</span><span class="logo-choco"> CHOCOLATE</span></a>
            <svg class="header-svg-box_icon">
                <use href="./images/header-icons.svg#logo"></use>
            </svg>
            
        <!-- </div> -->
        <ul class="header-menu list">
            <li><a class="menu-link link active-link" href="./index.html">Home</a></li>
            <li><a class="menu-link hover-underline-animation link" href="#how-its-made">How it&apos;s made?</a></li>
            <li><a class="menu-link hover-underline-animation link" href="#our-products">Our products</a></li>
            <li><a class="menu-link hover-underline-animation link" href="#top-sellers">Top sellers</a></li>
            <li><a class="menu-link hover-underline-animation link" href="#chocolate-is-loved">Chocolate is loved</a></li>
        </ul>
    </nav>

    <ul class="header-menu header-contacts list">
        <li>
            <a href="#" class="link">
                <svg class="header-svg-social_icon">
                    <use href="./images/header-icons.svg#instagram"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#" class="link">
                <svg class="header-svg-social_icon">
                    <use href="./images/header-icons.svg#twitter"></use>
                </svg>
            </a>
        </li>
    </ul>
    <button type="button" class="burger-btn" data-menu-open>
        <svg class="burger-btn_icon">
            <use href="./images/header-icons.svg#icon-menu"></use>
        </svg>
    </button>
    </div>

</div>
