<section class="container hero-background">
        <div class="hero-box">
            <h1 class="hero-title">Treat yourself or a loved one <br/>
            to our finest ingredients for a <br /> moment of pure delight!</h1>
            <div class="hero-row">
                <ul class="hero-button-box list">
                    <li><button type="button" class="hero-button-buy" data-modal-open>Buy now</button></li>
                    <li><button type="button" class="hero-button-how" data-modal-open>How it&apos;s made</button></li>
                </ul>    
            
                <div class="hero-scroll-box">
                    <p class="hero-scroll-text">scroll down</p>
                    <a href="#" class="hero-scroll-link">
                        <svg class="hero-svg-box_icon">
                            <use href="./images/hero-icons.svg#arrow-down"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
</section>
