<section class="container hero-background">
    <div class="hero-box">
        <h1 class="hero-title">Treat yourself or a loved one
        to our finest ingredients for a moment of pure delight!</h1>
        <ul class="hero-button-box list">
           <li><button type="button" class="hero-button-buy" data-modal-open>Buy now</button></li>
            <li><button type="button" class="hero-button-how" data-modal-open>How it&apos;s made</button></li>
        </ul>
        
    </div>
</section>
<section class="container">
    <div>
        <svg class="benefits-svg-box_icon">
            <use href="./images/choco-page-1.svg"></use>
        </svg>
    </div>
</section>