<section class="container how-its-made-section section" id="how-its-made">
  <div class="how-its-made-fullbox reveal">
    <h2 class="how-its-made-title">
      <span>HOW IT'S</span><span class="made"> MADE?</span>
    </h2>
    <div class="how-its-made-container">
      <div class="how-its-made-vidcontainer">
        <iframe
          class="how-its-made-video"
          src="https://www.youtube.com/embed/jhOnA_80H94?si=wpaHk2VGYHm5pSka"
        ></iframe>
      </div>
      <div class="how-its-made-prcontainer">
        <p class="how-its-made-procedure">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="how-its-made-list">
          <li class="how-its-made-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-its-made-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-its-made-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-its-made-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-its-made-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
