<section class="section" id="our-products">
    <div class="container reveal">
        <div class="">
            <h2 class="products-title">
                <span class="products-title-orange">OUR</span> PRODUCTS
            </h2>
            <div class="products-container swiper mySwiperProducts ">
                <div class="swiper-wrapper">

                    <div class="swiper-slide products-no-border">
                        <div class="product-swiper-slide">
                            <img src="./images/orange-1x.png" alt="victoria-image" width="230" height="201"
                                srcset="./images/orange-1x.png 1x, ./images/orange-2x.png 2x" />
                            <h3 class="product-name">ORANGE</h3>
                            <p class="product-description">
                                Dark chocolate
                            </p>
                            <div class="product-center">
                                <h3 class="product-measure">45 UAH</h3>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide products-no-border">
                        <div class="product-swiper-slide">
                            <img src="./images/apple-cran-1x.png" alt="nazar-image" width="230" height="201"
                                srcset="./images/apple-cran-1x.png 1x, ./images/apple-cran-2x.png 2x" />
                            <h3 class="product-name">APPLE&CRANBERRY</h3>
                            <p class="product-description">
                                Milk chocolate
                            </p>
                            <div class="product-center">
                                <h3 class="product-measure">50 UAH</h3>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide products-no-border">
                        <div class="product-swiper-slide">
                            <img src="./images/lime-sea-1x.png" alt="nazar-image" width="230" height="201"
                                srcset="./images/lime-sea-1x.png 1x, ./images/lime-sea-2x.png 2x" />
                            <h3 class="product-name">LIME&SEA SALT</h3>
                            <p class="product-description">
                                Dark chocolate
                            </p>
                            <div class="product-center">
                                <h3 class="product-measure">66 UAH</h3>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide products-no-border">
                        <div class="product-swiper-slide">
                            <img class="swiper-slide-image" src="./images/pineapple-1x.png" alt="nazar-image" width="230"
                                height="201" srcset="./images/pineapple-1x.png 1x, ./images/pineapple-2x.png 2x" />
                            <h3 class="product-name">PINEAPPLE</h3>
                            <p class="product-description">
                                Dark chocolate
                            </p>
                            <div class="product-center">
                                <h3 class="product-measure">54 UAH</h3>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide products-no-border">
                        <div class="product-swiper-slide">
                            <img class="swiper-slide-image" src="./images/classic-milk-1x.png" alt="nazar-image"
                                wwidth="230" height="201"
                                srcset="./images/classic-milk-1x.png 1x, ./images/classic-milk-2x.png 2x" />
                            <h3 class="product-name">CLASSIC</h3>
                            <p class="product-description">
                                Milk chocolate
                            </p>
                            <div class="product-center">
                                <h3 class="product-measure">45 UAH</h3>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide products-no-border">
                        <div class="product-swiper-slide">
                            <img class="swiper-slide-image" src="./images/honey-1x.png" alt="nazar-image" width="230"
                                height="201" srcset="./images/honey-1x.png 1x, ./images/honey-2x.png 2x" />
                            <h3 class="product-name">HONEY</h3>
                            <p class="product-description">
                                Milk chocolate
                            </p>
                            <div class="product-center">
                                <h3 class="product-measure">50 UAH</h3>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide products-no-border">
                        <div class="product-swiper-slide">
                            <img class="swiper-slide-image" src="./images/roasted-fruits-1x.png" alt="nazar-image"
                                width="230" height="201"
                                srcset="./images/roasted-fruits-1x.png 1x, ./images/roasted-fruits-2x.png 2x" />
                            <h3 class="product-name">ROASTED FRUITS</h3>
                            <p class="product-description">
                                Dark chocolate
                            </p>
                            <div class="product-center">
                                <h3 class="product-measure">66 UAH</h3>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide products-no-border">
                        <div class="product-swiper-slide">
                            <img class="swiper-slide-image" src="./images/classic-milk-1x.png" alt="nazar-image" width="230"
                                height="201" srcset="./images/classic-milk-1x.png 1x, ./images/classic-milk-2x.png 2x" />
                            <h3 class="product-name">CLASSIC</h3>
                            <p class="product-description">
                                White chocolate
                            </p>
                            <div class="product-center">
                                <h3 class="product-measure">54 UAH</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Repeat -->
                    

                </div>

                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-scrollbar"></div> -->
            <div class="swiper-pagination pagination"></div>
            </div>
        </div>
    </div>
</section>