<section class="footer-hero">
  <div class="container" footer-container>
    <h1 class="footer-hero-title">explore our new <br />chocolate first</h1>
    <span class="footer-discription">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </span>

    <div class="footer-button">
      <button type="submit" class="footer-subscribe">Subscribe</button>
    </div>
  </div>
</section>
